.imagem-obra-container {
  position: relative;
  width: 100%;
  max-width: 400px; /* Ajuste conforme necessário */
  margin: auto;
  box-shadow: 10px 10px 19px -6px rgba(0, 0, 0, 0.23);
  border: 1px solid #000;
}

.imagem-obra-container img {
  height: 420px;
  border-radius: 6px 6px 0 0;
}

.obra-foto {
  border-radius: 6px;
  background: #d9d9d9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.obra-conteudo {
  padding: 0 10px 24px 20px;
}

.menu-2 ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}

.obra-conteudo h4 {
  margin: 0;
  margin-top: 6px;
  margin-bottom: 5px;
}

.obra-conteudo p {
  margin: 0;
  margin-bottom: -10px;
}

.obra-espaco {
  margin-top: 40px;
}

.sera {
  margin-top: -30px;
}

.br-2 {
  display: block;
}

@media (max-width: 1000px) {
  .br-2 {
    display: none;
  }
}

@media (max-width: 600px) {
  .menu-2 ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}

@media (max-width: 700px) {
  .menu-2 ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .d-block {
    display: none;
  }
}

.carrossel-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.carrossel {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.carrossel-img {
  width: 100%;
  height: auto;
}

.carrossel-close,
.carrossel-prev,
.carrossel-next {
  position: absolute;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.carrossel-close {
  top: 10px;
  right: 10px;
}

.carrossel-prev {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.carrossel-next {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.hidden {
  display: none;
}
